main {
    background-image: url('polka_dot_background.svg');
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
}

.polka-dot-green {
    background-image: url('polka_dot_green_background.svg');
    background-position: center;
    background-size: 19rem;
    background-repeat: no-repeat;
    opacity: 1;
}